<div class="page">
<h1><%= @page.header %></h1>
<%= @page.description %>
<% if @page.class == Gallery %>
	<ul class="gallery_links">
	<% @page.albums.each do |album| %>
		<li><%= link_to album.name, show_album_url(album.get_link_options) -%></li>
	<% end %>
	</ul>
<% end %>
</div>