<%= javascript_include_tag "prototype" %>
<h1><%= @producer.name %></h1>
<div class="page">
  <%= @producer.description %>
</div>
<%= render :partial => "products/products", :locals => {:products => @products || @producer.products} %>
