<%= javascript_include_tag "prototype" %>
<h1><%= @category.name.to_s.titleize %></h1>
<%= render :partial => "products/products", :locals => {:products => @category.products} unless @category.products.empty? %>
